{% extends "supervisor.html" %}

{% block greeting %}
{% endblock %}

{% block content %}
<br>
<h2>PhD Student 6-Month Report Form</h2>
<h2>Section A: student record</h2>
<hr>
<div class="container">
    <table class="table table-bordered text-center">
        <tr>
            <th class="table-primary" colspan="4">Profile</th>
        </tr>
        <tr class="table-light">
            <th>Student ID</th>
            <th>Name</th>
            <th>Enrollment Date</th>
            <th>Address</th>
        </tr>
        {% for pro in profile%}
            <tr>
                <td>{{pro[0]}}</td>
                <td>{{pro[2]}} {{pro[1]}}</td>
                <td>{{pro[3]}}</td>
                <td>{{pro[4]}}</td>
            </tr>
        {% endfor %}
        <tr class="table-light">
            <th>Phone</th>
            <th>Lincoln Email</th>
            <th>Other Email</th>
            <th>Study Type</th>
        </tr>
        {% for pro in profile%}
            <tr>
                <td>{{pro[5]}}</td>
                <td>{{pro[6]}}</td>
                <td>{{pro[7]}}</td>
                <td>{{pro[8]}}</td>
            </tr>
        {% endfor %}
        <tr class="table-light">
            <th colspan="4">Thesis Title</th>
        </tr>
        {% for pro in profile%}
        <tr>
            <td colspan="4">{{pro[10]}}</td>
        </tr>
    {% endfor %}
    </table>
    <table class="table table-bordered text-center">    
        <tr>
            <th class="table-primary" colspan="4">Scholarship</th>
        </tr>
        <tr class="table-light">
            <th>Scholarship Name</th>
            <th>Value</th>
            <th>Tenure</th>
            <th>End Date</th>
        </tr>
        {% if scholarship %}
            {% for s in scholarship%}
                <tr>
                    <td>{{s[2]}}</td>
                    <td>{{s[3]}}</td>
                    <td>{{s[4]}}</td>
                    <td>{{s[6]}}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <table class="table table-bordered text-center">    
        <tr>
            <th class="table-primary" colspan="3">Employment</th>
        </tr>
        <tr class="table-light">
            <th>Company</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        {% if employment %}
            {% for item in employment%}
                <tr>
                    <td class="col-4">{{item[2]}}</td>
                    <td class="col-4">{{item[3]}}</td>
                    <td class="col-4">{{item[4]}}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <table class="table table-bordered text-center">    
        <tr>
            <th class="table-primary" colspan="{{ 3 + super3|length }}">Supervisor</th>
        </tr>
        <tr class="table-light">
            <th>Main Supervisor</th>
            <th>Associate Supervisor</th>
            {% for value in super3 %}
                <th>Other Supervisor</th>
            {% endfor %}
        </tr>
            <tr>
                <td>{{super1[0]}}</td>
                <td>{% if super2 %}{{ super2[0] }}{% else %}{% endif %}</td>
                {% for value in super3 %}
                    <td>{{value[0]}}</td>
                {% endfor %}
            </tr>
    </table>
</div>
<h2>Section B: Milestones</h2>
<div class="container">
    <table class="table table-bordered text-center">
        <tr>
            <th class="table-primary" colspan="3">Progress</th>
        </tr>
        <tr class="table-light">
            <th></th>
            <th>Not Completed</th>
            <th>Completed Date</th>
        </tr>
        <tr>
            <td>Induction Programme (Compulsory)</td>
            {% if section_b[0][1] == None %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
            {% if section_b[0][1] != None %}
                <td>{{section_b[0][1]}}</td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
        </tr>        
        <tr>
            <td>Mutual Expectations Agreement (Compulsory)</td>
            {% if section_b[0][2] == None %}
            <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
            {% if section_b[0][2] != None %}
                <td>{{section_b[0][2]}}</td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
        </tr>
        <tr>
            <td>Kaupapa Māori Research MEA (Compulsory if relevant)</td>
            {% if section_b[0][3] == None %}
            <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
            {% if section_b[0][3] != None %}
                <td>{{section_b[0][3]}}</td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
        </tr>
        <tr>
            <td>Intellectual Property Agreement (Compulsory if relevant)</td>
            {% if section_b[0][4] == None %}
            <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
            {% if section_b[0][4] != None %}
                <td>{{section_b[0][4]}}</td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
        </tr>
        <tr>
            <td>Thesis proposal seminar (Compulsory)</td>
            {% if section_b[0][5] == None %}
            <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
            {% if section_b[0][5] != None %}
                <td>{{section_b[0][5]}}</td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
        </tr>
        <tr>
            <td>Research Proposal Approved by appropriate Faculty/Centre Postgraduate or equivalent Committee (Compulsory)</td>
            {% if section_b[0][6] == None %}
            <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
            {% if section_b[0][6] != None %}
                <td>{{section_b[0][6]}}</td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
        </tr>
        <tr>
            <td>Lincoln University PG conference presentation</td>
            {% if section_b[0][7] == None %}
            <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
            {% if section_b[0][7] != None %}
                <td>{{section_b[0][7]}}</td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
        </tr>
        <tr>
            <td>Thesis Results Seminar (Strongly recommended)</td>
            {% if section_b[0][8] == None %}
            <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
            {% if section_b[0][8] != None %}
                <td>{{section_b[0][8]}}</td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
        </tr>
    </table>
    <table class="table table-bordered text-center">    
        <tr>
            <th class="table-primary" colspan="4">Approved by any of the Lincoln University Committees</th>
        </tr>
        <tr class="table-light">
            <th></th>
            <th>Needed</th>
            <th>Approval Given</th>
            <th>Not Needed</th>
        </tr>
        <tr>
            <td>Human Ethics Committee</td>
            {% if section_b[0][9] == 'Needed' %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}

            {% if section_b[0][9] == 'Approved' %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}

            {% if section_b[0][9] == 'Not Needed' %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
        </tr>
        <tr>
            <td>Health and Safety Committee</td>
            {% if section_b[0][10] == 'Needed' %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}

            {% if section_b[0][10] == 'Approved' %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}

            {% if section_b[0][10] == 'Not Needed' %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
        </tr>
        <tr>
            <td>Animal Ethics Committee</td>
            {% if section_b[0][11] == 'Needed' %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}

            {% if section_b[0][11] == 'Approved' %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}

            {% if section_b[0][11] == 'Not Needed' %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
        </tr>
        <tr>
            <td>Institutional Biological Safety Committee</td>
            {% if section_b[0][12] == 'Needed' %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}

            {% if section_b[0][12] == 'Approved' %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}

            {% if section_b[0][12] == 'Not Needed' %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
        </tr>
        <tr>
            <td>Radiation Protection Officer</td>
            {% if section_b[0][13] == 'Needed' %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
    
            {% if section_b[0][13] == 'Approved' %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
    
            {% if section_b[0][13] == 'Not Needed' %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
        </tr>
    </table>
    <table class="table table-bordered text-center">    
        <tr>
            <th class="table-primary" colspan="7">Reporting Progress</th>
        </tr>
        <tr class="table-light">
            <th class="col-1">Time from start</th>
            <th>6 Months</th>
            <th>12 Months</th>
            <th>18 Months</th>
            <th>24 Months</th>
            <th>30 Months</th>
            <th>36 Months</th>
        </tr>
        <tr>
            <th>Report</th>
            {% if section_b[0][14] == '1' %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
            {% if section_b[0][14] == '2' %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
            {% if section_b[0][14] == '3' %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
            {% if section_b[0][14] == '4' %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
            {% if section_b[0][14] == '5' %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
            {% if section_b[0][14] == '6' %}
                <td><i class="fa-solid fa-check"></i></td>
            {% else %}
                <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
        </tr>
        <tr class="table-light">
            <th>Mile-stone</th>
            <th>Proposal submitted and seminar held</th>
            <th>Proposal approved; Data collection started</th>
            <th>Mid term PhD progress evaluation</th>
            <th>Data collected; Analysis  and writing begun</th>
            <th>Analysis done; Half thesis written</th>
            <th>Thesis submitted for examination; Research seminar held</th>
        </tr>
    </table>
<h2>Section C: Evaluation of Faculty (or Centre) performance </h2>
<table class="table table-bordered text-center">    
    <tr>
        <th class="table-primary" colspan="3">Rate each of the following as they affect your study within the Faculty (or Centre)</th>
    </tr>
    <tr class="table-light">
        <th class="col-4"></th>
        <th>Rate</th>
        <th class="col-7">Comments</th>
    </tr>
    <tr>
        <td>Access to supervisors – principal</td>
        {% for rate in section_c %}
            <td>{{ rate[1] }}</td>
            <td>{{ rate[2] }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Access to supervisors – associate/others</td>
        {% for rate in section_c %}
            <td>{{ rate[3] }}</td>
            <td>{{ rate[4] }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Supervisor expertise– principal</td>
        {% for rate in section_c %}
            <td>{{ rate[5] }}</td>
            <td>{{ rate[6] }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Supervisor expertise – associate/others</td>
        {% for rate in section_c %}
            <td>{{ rate[7] }}</td>
            <td>{{ rate[8] }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Quality of supervisor feedback – principal</td>
        {% for rate in section_c %}
            <td>{{ rate[9] }}</td>
            <td>{{ rate[10] }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Quality of supervisor feedback – associate/ others</td>
        {% for rate in section_c %}
            <td>{{ rate[11] }}</td>
            <td>{{ rate[12] }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Timeliness of supervisor feedback – principal</td>
        {% for rate in section_c %}
            <td>{{ rate[13] }}</td>
            <td>{{ rate[14] }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Timeliness of supervisor feedback – associate/ others</td>
        {% for rate in section_c %}
            <td>{{ rate[15] }}</td>
            <td>{{ rate[16] }}</td>
        {% endfor %}
        </tr>
    <tr>
        <td>Courses available</td>
        {% for rate in section_c %}
            <td>{{ rate[17] }}</td>
            <td>{{ rate[18] }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Workspace</td>
        {% for rate in section_c %}
            <td>{{ rate[19] }}</td>
            <td>{{ rate[20] }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Computer facilities</td>
        {% for rate in section_c %}
            <td>{{ rate[21] }}</td>
            <td>{{ rate[22] }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>ITS support</td>
        {% for rate in section_c %}
            <td>{{ rate[23] }}</td>
            <td>{{ rate[24] }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Research software</td>
        {% for rate in section_c %}
            <td>{{ rate[25] }}</td>
            <td>{{ rate[26] }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Library facilities</td>
        {% for rate in section_c %}
            <td>{{ rate[27] }}</td>
            <td>{{ rate[28] }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Teaching & Learning Centre support</td>
        {% for rate in section_c %}
            <td>{{ rate[29] }}</td>
            <td>{{ rate[30] }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Statistical support</td>
        {% for rate in section_c %}
            <td>{{ rate[31] }}</td>
            <td>{{ rate[32] }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Research equipment</td>
        {% for rate in section_c %}
            <td>{{ rate[33] }}</td>
            <td>{{ rate[34] }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Technical support</td>
        {% for rate in section_c %}
            <td>{{ rate[35] }}</td>
            <td>{{ rate[36] }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Financial resources</td>
        {% for rate in section_c %}
            <td>{{ rate[37] }}</td>
            <td>{{ rate[38] }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Other (Please Specify)</td>
        {% for rate in section_c %}
            <td>{{ rate[39] }}</td>
            <td>{{ rate[40] }}</td>
        {% endfor %}
    </tr>
</table>
<table class="table table-bordered text-center">    
    <tr>
        <th class="table-primary" colspan="2">Communicate With Supervisor</th>
    </tr>
    <tr class="table-light">
        <th>Questions</th>
        <th>Answers</th>
    </tr>
    <tr>
        <th>How frequently do you have a meeting with your supervisor?</th>
        <td>{{ section_c[0][41] }}</td>
    </tr>
    <tr>
        <th>What is the usual period for receiving feedback from your supervisor on submitted materials?</th>
        <td>{{ section_c[0][42] }}</td>
    </tr>
    <tr>
        <th>How do you receive your feedback from your supervisor?</th>
        <td>{{ section_c[0][43] }}</td>
    </tr>
</table>
<h2>Section D – Progress and Achievements</h2>
<table class="table table-bordered text-center">    
    <tr>
        <th class="table-primary" colspan="3">Report on your Research Objectives for the last Six Months</th>
    </tr>
    <tr class="table-light">
        <th>Research Objectives</th>
        <th>Status</th>
        <th>Comments – Explain, where relevant, why particular activities are not completed</th>
    </tr>
    {% for t1 in t1_list%}
        <tr>
            <td>{{ t1.research_objectives }}</td>
            <td>{{ t1.status }}</td>
            <td>{{ t1.comments }}</td>
        </tr>
    {% endfor %}
</table>
<table class="table table-bordered text-center">    
    <tr>
        <th class="table-primary" colspan="3">Report on your Research Objectives for the last Six Months</th>
    </tr>
    <tr class="table-light">
        <th>Research Objectives</th>
        <th>Status</th>
        <th>Comments – Explain, where relevant, why particular activities are not completed</th>
    </tr>
    {% for t1 in t1_list%}
        <tr>
            <td>{{ t1.research_objectives }}</td>
            <td>{{ t1.status }}</td>
            <td>{{ t1.comments }}</td>
        </tr>
    {% endfor %}
    <tr class="table-light">
        <th colspan="3">Have any of these objectives changed or been modified since your Proposal?  If so, how, and why?</th>
    </tr>
    <tr>
        <td colspan="3">{{ section_d[0][2] }}</td>
    </tr>
</table>
<table class="table table-bordered text-center">    
    <tr>
        <th class="table-primary">Evaluation of effects of COVID-19 on research progress</th>
    </tr>
    <tr class="table-light">
        <th>Effects</th>
    </tr>
    {% for t2 in t2_list%}
        <tr>
            <td>{{ t2.effects }}</td>
        </tr>
    {% endfor %}
</table>
<table class="table table-bordered text-center">    
    <tr>
        <th class="table-primary">Other Significant Academic Achievements in the last Six Months</th>
    </tr>
    <tr class="table-light">
        <th>Achievements</th>
    </tr>
    {% for t3 in t3_list%}
        <tr>
            <td>{{ t3.achievements }}</td>
        </tr>
    {% endfor %}
</table>
<table class="table table-bordered text-center">    
    <tr>
        <th class="table-primary" colspan="3">Research Objectives for the next Six Months</th>
    </tr>
    <tr class="table-light">
        <th>Research Objectives</th>
        <th>Target Completion Date</th>
        <th>Anticipated problems in achieving objectives</th>
    </tr>
    {% for t4 in t4_list%}
        <tr>
            <td>{{ t4.research_objectives }}</td>
            <td class="col-2">{{ t4.target_date }}</td>
            <td>{{ t4.problems }}</td>
        </tr>
    {% endfor %}
</table>
<table class="table table-bordered text-center">    
    <tr>
        <th class="table-primary" colspan="3">Expected Research Expenditure for the next Six Months</th>
    </tr>
    <tr class="table-light">
        <th>Item</th>
        <th>Amount</th>
        <th>Notes</th>
    </tr>
    {% for t5 in t5_list %}
        <tr>
            <td>{{ t5.item }}</td>
            <td class="price">${{ t5.amount }}</td>
            <td>{{ t5.notes }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td class="text-align-right">TOTAL EXPENDITURE:</td>
        <td class="price" colspan="2">${{ total_expenditure }}</td>
    </tr>
</table>
<table class="table table-bordered text-center">
    <tr class="table-light">
        <th colspan="2">Comments</th>
    </tr>
    <tr>
        <td colspan="2">{{ section_d[0][7] }}</td>
    </tr>
    <tr class="table-light">
        <th class="col-6">Student Name</th>
        <th class="col-6">Report Submit Date</th>
    </tr>
    <tr>
        <td>{{ section_d[0][8] }}</td>
        <td>{{ section_d[0][9] }}</td>
    </tr>
</table>    
</div>
<br>
{% endblock %}
