{% extends "student.html" %}
{% block greeting %}{% endblock %}

{% block content %}

<div class="container mt-3 mx-auto">
    <div class="col-md-10 mx-auto">
        <div class="card">
            <div class="card-body">
                {% for student in profile %}
                <h5 class="card-title text-center">{{ student[2] }} {{ student[1] }}</h5>           
                {% endfor %}     
                <hr>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th >Report Year</th>
                        <th>Report Term</th>
                        <th>Due Date</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if report %}
                        {% for item in report %}
                          <tr>
                            <td>{{ item[2] }}</td>
                            <td>{{ item[3] }}</td>
                            <td>{{ item[4] }}</td>
                            <td>
                              <!-- send report id back -->
                              <button type="submit"  class="btn btn-outline-primary btn-sm"><a class="b" href="{{ url_for('student.view6mr',report_id=item[0]) }}">View</a></button>
                            </td>
                            <td>
                              <button type="submit"  class="btn btn-outline-primary btn-sm"><a class="b" href="/path/to/file" download>Download Report</a></button>
                            </td>
                          </tr>
                        {% endfor %}
                      {% else %}
                        <tr>
                          <td colspan="7">No 6MR record found</td>
                        </tr>
                      {% endif %}
                  
                    </tbody>
                  </table>
                  
            </div>
        </div>
    </div>
</div>
{% endblock %}